<div
  style="
        max-width: 500px;
        background: rgba(128, 128, 128, 0.111);
        padding: 10px 48px;
        padding-bottom: 40px;
        margin: 0 auto;
        text-align: center;
      "
>
  <h2>Pulse</h2>
  <p style="font-size: large">
    <strong>{{senderName}}</strong>
    has invited you to join Pulse
  </p>
  <p style="font-size: large">
    Your disco (<strong>{{discoName}}</strong>) is on Pulse and this is your
    invite to join. Use your assigned email address
    <strong>{{email}}</strong>
    to create an account and join your disco and start collaborating.
  </p>
  <a href="{{clientRegisterUrl}}?token={{token}}&email={{encodeEmail}}">
    <button
      style="
            cursor: pointer;
            padding: 13px 10px;
            background-color: blueviolet;
            color: white;
            border: 0px;
            border-radius: 4px;
          "
    >
      Accept invite
    </button>
  </a>
</div>